.three-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.introduce {
  color: white;
  font-size: 7vmin;
  font-weight: 100;
  text-align: center;
  height: 100vh;
}

.introduce > p {
  margin: 0;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.introduce > p > small {
  font-weight: 800;
  font-size: 20px;
  border-bottom: solid 2px #6bedd4;
}

.says {
  color: white;
  font-size: 20px;
  background-color: #214b42;
  padding: 50px 10%;
}

.says > big {
  font-size: 40px;
}
